{% requirePermission 'translated:orders' %}

{% extends '_layouts/cp' %}
{% import '_includes/forms' as forms %}
{% set title = 'Generate a new quote' %}
{% set selectedSubnavItem = 'orders' %}

{% set content %}
    {% if not availableLanguages or not availableSubjects %}
        Failed to get a response from the translated API. Try again later.
    {% else %}
        {% if data and data['failedUpload'] is defined %}
            <ul id="alerts">
                <li>
                    <span data-icon="alert" aria-label="Error"></span> Failed to upload the asset automatically. Download
                    the file and attach it manually below. <a class="go"
                        href="{{ cpUrl('translated/orders/manual-download?fp=' ~ data['failedUpload']) }}">
                        Download file
                    </a>
                </li>
            </ul>
        {% endif %}

        <form method="post" class="booking-form">
            {{ csrfInput() }}
            <input type="hidden" name="action" value="translated/orders/request-quote" />

            {% namespace 'order' %}
            <div class="full">
                {{
                    forms.textField({
                        label: 'Project Name',
                        instructions: 'Add a title to this translation quote',
                        id: 'title',
                        name: 'title',
                        required: 'required',
                        value: form['title'] ?? data['projectName'] ?? '',
                        errors: err.getErrors('title')
                    })
                }}
            </div>

            <div class="row center">
                <div class="half">
                    {{
                        forms.selectField({
                            label: 'Translation Level',
                            id: 'translationLevel',
                            name: 'translationLevel',
                            options: {
                                P: '[£] Economy',
                                R: '[££] Premium',
                                T: '[£££] Professional'
                            },
                            class: 'full',
                            value: form['translationLevel'] ?? data['translationLevel'] ?? 'economy'
                        })
                    }}
                </div>
                <div class="half service-level">
                    <div class="info">
                        [£] Economy – Machine Translation with light human review.<br />
                        [££] Premium – Human Translation with quality control.<br />
                        [£££] Professional – Human Translation with specialist review and quality control.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="half">
                    {# TODO: Set default selected language to primary site #}
                    {{
                        forms.selectField({
                            label: 'Source Language',
                            instructions: 'What language is your content currently written in?',
                            id: 'sourceLanguage',
                            name: 'sourceLanguage',
                            required: 'required',
                            class: 'full',
                            options: availableLanguages,
                            value: form['sourceLanguage'] ?? data['sourceLanguage'] ?? selectedSource ?? 'English',
                            errors: err.getErrors('sourceLanguage') ?? null
                        })
                    }}
                </div>
                <div class="half">
                    {{
                        forms.selectField({
                            label: 'Target Language',
                            instructions: 'What language do you want to translate into?',
                            id: 'targetLanguage',
                            name: 'targetLanguage',
                            required: 'required',
                            class: 'full',
                            options: availableLanguages,
                            values: form['targetLanguage'] ?? data['targetLanguage'] ?? selectedTarget ?? '',
                            errors: err.getErrors('targetLanguage') ?? null
                        })
                    }}
                </div>
            </div>
            <div class="row">
                <div class="half">
                    {{
                        forms.selectField({
                            label: 'Subject',
                            instructions: 'What industry does your content relate to?',
                            id: 'translationSubject',
                            name: 'translationSubject',
                            options: availableSubjects,
                            class: 'full',
                            value: form['translationSubject'] ?? data['translationSubject'] ?? 'general'
                        })
                    }}
                </div>
                <div class="half">
                    {{
                        forms.textField({
                            label: 'Word count',
                            instructions: 'Provide manually if uploading an asset, otherwise automatically calculated',
                            id: 'wordCount',
                            name: 'wordCount',
                            required: 'required',
                            value: form['wordCount'] ?? data['wordCount'] ?? '',
                            errors: err.getErrors('wordCount') ?? null
                        })
                    }}
                </div>
            </div>

            <div class="full">
                {{
                    forms.textareaField({
                        label: 'Notes',
                        instructions: 'Provide notes or instructions to the translator',
                        id: 'translationNotes',
                        name: 'translationNotes',
                        value: form['translationNotes'] ?? data['translationNotes'] ?? ''
                    })
                }}
            </div>

            {% if data['translationAsset'] is not defined %}
                <div class="full">
                    {% set translationContent = form['translationContent'] is defined
                        ? form['translationContent']|raw
                        : data['translationContent'] is defined ? data['translationContent']|raw : null
                    %}

                    {{
                        forms.textareaField({
                            label: 'Content',
                            id: 'translationContent',
                            name: 'translationContent',
                            required: 'required',
                            rows: 8,
                            value: translationContent,
                            errors: err.getErrors('translationContent') ?? null
                        })
                    }}
                </div>
                <div class="full">
                    <strong>OR</strong>
                </div>
            {% endif %}

            <div class="full">
                {% set translationAsset = form['translationAsset'] is defined
                    ? [form['translationAsset']]
                    : data['translationAsset'] is defined ? [data['translationAsset']] : null
                %}
                {{
                    forms.elementSelectField({
                        label: 'Select file to translate',
                        id: 'translationAsset',
                        name: 'translationAsset',
                        viewMode: 'large',
                        elementType: elementType,
                        jsClass: 'Craft.AssetSelectInput',
                        sources: [],
                        limit: 1,
                        required: 'required',
                        elements: translationAsset,
                        errors: err.getErrors('translationAsset') ?? null
                    })
                }}
            </div>

            <input type="hidden" id="userId" name="userId" value="{{ currentUser.id }}" />
            {% if data['entryId'] is defined %}
                <input type="hidden" id="entryId" name="entryId" value="{{ data['entryId'] }}" />
            {% endif %}
            <input type="hidden" id="auto" name="auto" value="{{ data['auto'] ?? 0 }}" />
            {% endnamespace %}

            <input type="submit" class="submit btn" value="{{ 'Request Quote'|t }}" />
            <a href="{{ cpUrl('translated/orders') }}" class="btn">{{ 'Cancel'|t('translated') }}</a>
        </form>
    {% endif %}
{% endset %}

{% js %}
    {# prettier-ignore-start #}
        const countInput = document.querySelector('#order-translationContent');
        const countArea = document.querySelector('#order-wordCount');

        function handleCount(e) { 
            const c = e.value.trim(); 
            if (!c) return 0;
            
            const counter = c.split(/\s+/).length; 
            countArea.value = counter;
        }

        countInput.addEventListener('keyup', (e) => {
            handleCount(e.currentTarget);
        });

        document.addEventListener("DOMContentLoaded", () => { 
            handleCount(countInput);
        });
    {# prettier-ignore-end #}
{% endjs %}
