{% requirePermission 'translated:orders' %}
{% set entry = craft.entries.id(data['entryId']).one() %}
{% extends '_layouts/cp' %}
{% import '_includes/forms' as forms %}
{% set title = 'Sync translated content to ' ~ entry.title %}
{% set selectedSubnavItem = 'orders' %}

{% set crumbs = [
    {
        label: 'Translated',
        url: url('translated')
    },
    {
        label: 'Orders',
        url: url('translated/orders')
    },
    {
        label: 'Order ' ~ data['entryId'],
        url: url('translated/orders/' ~ data['entryId'])
    }
] %}

{% set content %}
    {% if orderInfo is defined %}
        <div id="alerts" class="mb-8">
            <p>
                Failed to sync content automatically. There may be an issue with the supplied file. Contact your project
                manager <a class="pm-error" href="mailto:{{ orderInfo[0].pm_email ?? orderInfo.pm_email }}">
                    {{ orderInfo[0].pm_name ?? orderInfo.pm_name }}
                </a>
            </p>
        </div>
    {% endif %}

    <p>
        <strong class="knock">Original Entry</strong><br /> <a href="{{ entry.cpEditUrl }}">{{ entry.title }}</a>
    </p>
    <form method="post">
        {{ csrfInput() }}
        <input type="hidden" name="action" value="translated/orders/sync-order" />

        {% namespace 'order' %}
        {{
            forms.selectField({
                label: 'Site',
                instructions: 'Select which site to push the translated content to',
                id: 'siteId',
                name: 'siteId',
                required: 'required',
                options: availableSites
            })
        }}
        <ul class="errors hidden sync-error" js-err>
            <li>Select which site to push the translated content to</li>
        </ul>

        <input type="hidden" id="id" name="id" value="{{ data['id'] }}" />
        {% if data['entryId'] %}
            <input type="hidden" id="entryId" name="entryId" value="{{ data['entryId'] }}" />
        {% endif %}
        {% endnamespace %}

        <input type="submit" class="submit btn" js-submit value="{{ 'Sync Content'|t }}" />
    </form>
{% endset %}

{% js %}
    {# prettier-ignore-start #}
    var simulateClick = function (elem) {
        var evt = new MouseEvent('click', {
            bubbles: true,
            cancelable: true,
            view: window
        });
        var canceled = !elem.dispatchEvent(evt);
    };

    let submit = document.querySelector('[js-submit]');

    function checkValidation(event) {
        let stopSubmission = false;
        event.preventDefault();

        let siteIdField = document.querySelector('#order-siteId');

        if (siteIdField.value == '') {
            stopSubmission = true;
            document.querySelector('[js-err]').classList.remove('hidden');
        }

        if (!stopSubmission) {
            submit.removeEventListener('click', checkValidation, true);
            simulateClick(submit);
        }
    };

    submit.addEventListener('click', checkValidation, true);
    {# prettier-ignore-end #}
{% endjs %}
