{% requirePermission 'translated:orders' %}
{% set entry = craft.entries.id(data['entryId']).one() %}
{% extends '_layouts/cp' %}
{% import '_includes/forms' as forms %}
{% set title = 'Sync content to ' ~ entry.title %}
{% set selectedSubnavItem = 'orders' %}

{% set content %}
    <p>
        Translated Entry: <a href="{{ entry.cpEditUrl }}">{{ entry.title }}</a>
    </p>
    <form method="post">
        {{ csrfInput() }}
        <input type="hidden" name="action" value="translated/orders/sync-order" />

        {% namespace 'order' %}
        {{
            forms.selectField({
                label: 'Site',
                instructions: 'Select which site to push the content to for this entry',
                id: 'siteId',
                name: 'siteId',
                required: 'required',
                options: availableSites
            })
        }}

        <input type="hidden" id="id" name="id" value="{{ data['id'] }}" />
        {% if data['entryId'] %}
            <input type="hidden" id="entryId" name="entryId" value="{{ data['entryId'] }}" />
        {% endif %}
        {% endnamespace %}

        <input type="submit" class="submit btn" value="{{ 'Sync content'|t }}" />
    </form>
{% endset %}
